.choose-numbers {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  gap: 15px;
  flex-wrap: wrap;
}

.choose-numbers > div {
  display: flex;
  justify-content: center;
  min-width: 550px;
  gap: 15px;
}