.choose-numbers {
  display: flex;
  justify-content: center;
  float: right;
  padding-right: 150px;
  width: 400px;
  flex-wrap: wrap;
}

.choose-numbers > div {
  display: flex;
  justify-content: center;
}