.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.pink {
  background-color: violet;
}

.brown {
  background-color: rgb(76, 44, 11);
}

.yellow {
  background-color: rgb(187, 187, 42);
}

.orange {
  background-color: orange;
}

.black {
  background-color: black;
}
